.form {
  @apply w-full max-w-[24rem] rounded-xl bg-white bg-opacity-80 opacity-0 backdrop-blur-sm backdrop-saturate-200;

  animation: fadeIn 0.5s 1.2s linear forwards;
}

.head {
  @apply mb-4 grid h-28 select-none place-items-center;
}

.body {
  @apply flex flex-col gap-4;
}

.icon {
  @apply h-6 w-6;
}

.foot {
  @apply pt-0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
