.overlay {
  @apply absolute inset-0 z-0 h-full w-full before:absolute before:inset-0 before:z-0 before:bg-gradient-to-r before:from-sapphire-blue/70 before:to-dark-cornflower-blue/70;
}

.image {
  @apply h-full w-full object-cover;
}

.wrapper {
  @apply container mx-auto flex min-h-screen items-center justify-center p-4;
}

.logo {
  @apply absolute top-0 m-auto h-28 w-28;

  opacity: 0;
  animation: fadeIn 0.5s 1.6s linear forwards;
}

.logoAnimation {
  @apply absolute m-auto h-28 w-28;

  top: calc(50% - (112px / 2));
  opacity: 0;
  animation: moveTop 0.5s 1.2s linear forwards, pulse 0.5s linear infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveTop {
  from {
    top: calc(50% - (112px / 2));
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}
